.content{
    margin-top: 3em;
    margin-bottom: 3em;
}

.content article {
    letter-spacing: .3px;
    line-height: 1.62;
}

.content article h1, .content article h2, .content article h3 {
    font-size: 34px;
    letter-spacing: -.5px;
    line-height: 38px;
    margin-top: 30px;
    font-weight: 700;
}

.content article h3 {
    font-size: 26px;
    line-height: 1.2em;
    font-weight: 700;
}

.content article .static-page-overview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.content article .static-page-overview__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    background-color: #999;
    position: relative;
    height: 180px;
    padding: 20px;
    border: none;
    margin-bottom: 30px;
    background-size: cover;
    background-position: 50%;
    border-radius: 3px;
    overflow: hidden;
    transition: all .125s ease;
    flex-basis: 100%;
}

.content article .static-page-overview__item:before {
    background: linear-gradient(20deg,rgba(0,0,0,.6),transparent);
    opacity: 1;
}

.content article .static-page-overview__item:after, .content article .static-page-overview__item:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    pointer-events: none;
    transition: opacity .125s;
}

.content article .static-page-overview__item h2 {
    position: relative;
    z-index: 2;
    color: #fff;
    font-size: 30px;
    font-style: italic;
}


.content article .static-page-overview__item:after {
    background: linear-gradient(20deg,rgba(0,0,0,.1),rgba(0,0,0,.5));
    opacity: 0;
}

.content article .static-page-overview__item:after, .content article .static-page-overview__item:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    pointer-events: none;
    transition: opacity .125s;
}

a:hover, a:hover path, a:hover polygon {
    color: rgba(0,0,0,.4);
    border-color: rgba(0,0,0,.4);
    fill: rgba(0,0,0,.4);
}

.content article .static-page-overview__item:hover {
    transform: translateY(-1px);
}

@media (min-width: 650px) {
    .content article .static-page-overview__item:nth-child(odd) {
        flex-basis: calc(50% - 15px);
        margin-right: 15px;
    }

    .content article .static-page-overview__item:nth-child(2n+2) {
        flex-basis: calc(50% - 15px);
        margin-left: 15px;
    }
}

@media (min-width: 650px){
    .content article .static-page-overview__item {
        height: 230px;
        padding: 30px;
    }
}
