.pst--relative {
    position: relative;
}

header {
    display: block;
}

nav {
    display: block;
}

.logo{
    width: 143px;
    height: 64px;
}

.list__links--row {
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.l__row--h-stretch {
    justify-content: space-between;
}

.list__links {
    display: flex;
}

ul {
    list-style: none;
}

li, ul {
    padding: 0;
    margin: 0;
}

.list__links--nav li {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
}

.list__links--row li {
    padding-right: 15px;
}

.list__links--no-decor a {
    border: none;
}

.b__nudge--right-0 {
    margin-right: 0;
}

.text--logo {
    font-weight: 700;
    font-family: Gillsans,Roboto,Helvetica,sans-serif;
    font-size: 28px;
    font-style: italic;
    line-height: .9em;
    margin-right: 10px;
    letter-spacing: -.7px;
    border: 0;
}

a {
    text-decoration: none;
    border-bottom: 1px solid #000;
    color: #000;
}

a, svg path, svg polygon, svg polyline {
    transition: all .2s;
}

.nav-dropdown:hover .nav__chevron {
    transform: rotate(180deg);
    transition: all .3s;
}

.nav-dropdown {
    position: relative;
    /* margin: 0 15px; */
    margin: 15px;
    cursor: pointer;
}

.nav-dropdown>p {
    display: flex;
}

.nav-dropdown .nav__chevron {
    transition: all .3s;
    width: 15px;
    margin-left: 5px;
}


.nav-dropdown__item {
    display: none;
    position: absolute;
    background: #fff;
    min-width: 190px;
    padding: 10px 25px 10px 15px;
    /* top: 45px; */
    top: 30px;
    box-shadow: 0 1px 4px rgba(0,0,0,.25);
    z-index: 500;
    box-sizing: border-box;
}

.nav-dropdown__item li {
    font-size: 15px;
    line-height: 1.73;
    white-space: nowrap;
}

.list__links--row li:last-child {
    padding: 0;
}

.b__nudge--left-medium {
    margin-left: 15px;
}

.b__nudge--right {
    margin-right: 20px;
}



.nav-dropdown:hover .nav-dropdown__caret, .nav-dropdown:hover .nav-dropdown__item, .nav-dropdown:hover .nav-dropdown__menu {
    display: block;
}



a:hover, a:hover path, a:hover polygon {
    color: rgba(0,0,0,.4);
    border-color: rgba(0,0,0,.4);
    fill: rgba(0,0,0,.4);
}


/* NAV MOBILE */
.nav-mobile {
    position: relative;
    top: -35px;
}

.nav-mobile input[type=checkbox] {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    opacity: 0;
}

.nav-mobile label:hover {
    content: url('../../../src/Images/menu.svg');
}

.nav-mobile label {
    position: relative;
    display: block;
    float: right;
    cursor: pointer;
    height: 28px;
    width: 28px;
    margin-top: 4px;
    content: url('../../../src/Images/menu.svg');
}

.em-nav-mobile {
    display: none;
    width: 100%;
    background: #fff;
}

.nav-mobile--menu {
    clear: both;
    height: 0;
    overflow: hidden;
    float: left;
    width: 100%;
    opacity: 0;
    transition: all .3s ease;
}

.em-nav-mobile__adherent-profile {
    background: #f6f6f6;
}

.em-nav__menu--mobile .items li {
    margin: 5px 0;
}

.em-nav__menu .items li {
    margin: 10px 0;
}

.em-nav__menu .items li a {
    border: none;
}

.em-nav__menu--mobile .head {
    margin-bottom: 5px;
}
.em-nav__menu .head {
    font-family: Gillsans,Roboto,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #8c8c8c;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 10px;
}

input[type=checkbox]:checked~.nav-mobile--menu {
    height: auto;
    margin-top: 40px;
    opacity: 1;
    display: block;
}






