body{
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  -ms-overflow-x: hidden;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Work Sans',Roboto,Helvetica,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  color: #000;
}

.space--20-0 {
  padding: 20px 0;
}

.space--20 {
  padding: 20px;
}

.l__row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.l__wrapper, .l__wrapper--wide {
  width: 90%;
  margin: 0 auto;
}

.l__wrapper {
  max-width: 1200px;
}

.l__row--v-stretch {
  align-items: stretch;
}

.text--body {
  line-height: 1.5;
  font-size: 16px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.btn {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 7px 15px;
  background: #fff;
  border: 1px solid #000;
  color: #000;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1.5px;
  transition: all .45s;
  box-sizing: border-box;
  border-radius: 0;
  line-height: 24px;
  font-weight: 500;
}

.btn--red {
  background: #ff3a3a;
  border-color: #ff3a3a;
  color: #fff;
}

.btn:hover {
  background: #000;
  border-color: #000;
  color: #fff;
}

.btn--red:hover {
  color: #fff;
  background: #da2323;
  border-color: #da2323;
}

.b__nudge--right-extra-large {
  margin-right: 50px;
}

.l__col--top {
  justify-content: flex-start;
}

.card {
  border: 0;
  display: flex;
  flex-direction: column;
  margin: 0 0 20px;
  text-decoration: none;
}

.card__background {
  background-color: #000;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

.card--large {
  color: #fff;
  flex: 2;
  margin: 0;
  padding: 30px;
  top: 0;
  left: 0;
  position: relative;
}

.card--no-gradient .background-container:after, .card--no-gradient .background-container:before, .card--no-gradient .background-container:hover:after, .card--no-gradient .background-container:hover:before, .card--no-gradient:after, .card--no-gradient:before, .card--no-gradient:hover:after, .card--no-gradient:hover:before {
  opacity: 0!important;
}

.card--large:after, .card--large:before {
  content: "gradient";
  overflow: hidden;
  position: absolute;
  text-indent: -9999rem;
  font-size: 0;
  line-height: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity .45s;
}

.card--large:before {
  background: linear-gradient(20deg,rgba(0,0,0,.4),transparent);
  opacity: 1;
}

.card--large:after {
  background: linear-gradient(20deg,rgba(0,0,0,.1),rgba(0,0,0,.3));
  opacity: 0;
}

.card--large .background {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.card--large .background .content {
  z-index: 1;
}

.btn--no-border {
  border-color: #fff;
}

.card--large-secondary {
  color: #fff;
  flex-basis: auto;
  flex-grow: 2;
  margin: 0;
  padding: 30px;
  top: 0;
  left: 0;
  position: relative;
}


.card--large-secondary:before {
  background: linear-gradient(20deg,rgba(0,0,0,.4),transparent);
  opacity: 1;
}

.card--large-secondary:after, .card--large-secondary:before {
  content: "gradient";
  overflow: hidden;
  position: absolute;
  text-indent: -9999rem;
  font-size: 0;
  line-height: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity .45s;
}

.card--large-secondary:after {
  background: linear-gradient(20deg,rgba(0,0,0,.1),rgba(0,0,0,.3));
  opacity: 0;
}

.card--large-secondary .background {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.card--large-secondary .background .content {
  z-index: 1;
}

.topstory-side .content {
  max-width: 90%;
}

.l__col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.l__col--bottom{
  justify-content: flex-end;
}

.space--30 {
  padding: 30px;
}

.space--35-15 {
  padding: 35px 0 15px;
}

.list__links .head {
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.list__links--svgs li {
  padding-right: 20px;
}

.list__links--svgs li .fab {
  font-size: 38px;
}

.topstory-side {
  flex: 1;
  height: 370px;
  background-repeat: no-repeat;
  background-size: cover;
}

.text--white {
  color: #fff;
}

.text--italic {
  font-style: italic;
}

.text--large {
  font-size: 34px;
  letter-spacing: -.5px;
  line-height: 38px;
}


.b__nudge--bottom {
  margin-bottom: 20px;
}


label {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 2px;
}

.b__nudge--top {
  margin-top: 20px;
}

.content article {
  letter-spacing: .3px;
  line-height: 1.62;
}

.content article .action__home {
  flex: 1;
  margin: 0 0 20px;
}

.content article .action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  background: #CD2726;
  margin: 20px 0;
}

.content article .action p {
  color: #fff;
  font-size: 24px;
  line-height: 1.2em;
  font-weight: 700;
  font-style: italic;
  margin: 0 20px 0 0;
  max-width: 350px;
}

.content article .action a {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 7px 15px;
  background: #fff;
  color: #000;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1.5px;
  transition: all .45s;
  box-sizing: border-box;
  font-family: Gillsans,Roboto,Helvetica,sans-serif;
  border-radius: 0;
  font-weight: 400;
  line-height: 24px;
  font-weight: 500;
  border: 1px solid #fff;
  white-space: nowrap;
}

.content article .action a:hover {
  background: #000;
  border-color: #000;
  color: #fff;
}

.content article .action.blue {
  background: #003366;
}

@media (max-width: 1000px){
  .l__hide--on-tablet {
    display: none;
  }
  .card--large {
    color: #000;
    margin-bottom: 20px;
    padding: 0;
  }
  .card--large .background-container {
    border: 0;
  }

  .card--large .background {
    height: 450px;
  }

  .l__tablet--col {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }
  .content article .action__home {
    margin: 0;
  }
}

@media (min-width: 1001px){
  .l__hide--on-desktop {
      display: none;
  }
}

@media (max-width: 800px){
  .card--large .background {
    height: 350px;
  }
}

@media (max-width: 750px){
  .card--large .background {
    height: 300px;
  }
}

@media (max-width: 650px){
  .text--large {
    font-size: 28px;
    line-height: 1.2em;
    font-size: 24px;
  }

  .content article .action {
    flex-direction: column;
  }


  .content article .action p {
    font-size: 20px;
    line-height: 27px;
    margin: 0 0 20px;
    max-width: 100%;
  }

  .l__hide--on-mobile {
    display: none !important;
  }
}

@media (max-width: 550px){
  .card--large .background {
      height: 250px;
  }
}

@media (max-width: 450px){
  .card--large .background {
      height: 200px;
  }
}