body{
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  -ms-overflow-x: hidden;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Work Sans',Roboto,Helvetica,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  color: #000;
}

.space--20-0 {
  padding: 20px 0;
}

.l__row--h-stretch {
  justify-content: space-between;
}

.l__row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.l__wrapper {
  max-width: 1200px;
}

.l__wrapper, .l__wrapper--wide {
  width: 90%;
  margin: 0 auto;
}


